services:
  postgres:
    container_name: postgres_container
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      TZ: Asia/Kolkata
    ports:
      - "5432:5432"
    volumes:
      - "D:/data/postgresql:/var/lib/postgresql/data"
      - ./initdb:/docker-entrypoint-initdb.d
    networks:
      - postgres
    restart: unless-stopped

  pgadmin:
    container_name: pgadmin_container
    image: dpage/pgadmin4:latest
    environment:
      PGADMIN_DEFAULT_EMAIL: pgadmin4@pgadmin.org
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_CONFIG_SERVER_MODE: 'False'
      TZ: Asia/Kolkata
    ports:
      - "5050:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin            # <-- correct path
    networks:
      - postgres
    depends_on:
      - postgres
    restart: unless-stopped

networks:
  postgres:
    driver: bridge

volumes:
  postgres_data:
  pgadmin_data:

